* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav ul {
    display: flex;
    padding: 30px ;
    list-style: none;
    justify-content: space-between;

}
nav ul li{
    padding-right: 20px;
}
nav ul div:first-child {
    display: flex;
    padding-left: 30px;
    padding-top: 10px;
}
nav ul div:last-child{
    padding-top: 10px;
    display: flex;
}
nav ul .core-menu{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-right: 200px ;
}
nav ul .core-menu li{
 
          
}
nav ul .core-menu li button{
    background-color:#000000;
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 200px;
    font-family: 'Titillium Web';
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
nav ul .core-menu li button{
   
}
nav ul .core-menu li button:hover{
    background-color: white;
    color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    

}

body {
  /* Set Titillium Web as primary, fallback to system sans-serif if offline */
  font-family: 'Titillium Web', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #333;
}